<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet">
    <!-- Google Web Fonts -->
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}" />
</head>
<body>
        <div class="menu" id="sideBar" style="transition-duration: 400ms;">
            <div class="menu-inner" th:fragment = "menu">
                <div class="dropdow">
                    <div class="dropdow_select active">
                        <a href="#">
                                <span class="material-symbols-outlined">
                                    home
                                </span>
                            <span class="dropdow_selected">
                                    Homepage
                                </span>
                        </a>

                    </div>
                </div>
                <div class="dropdow">
                    <div class="dropdow_select">
                        <a href="#">
                                <span class="material-symbols-outlined">
                                    work
                                    </span>
                            <span class="dropdow_selected">
                                    Queue
                                </span>
                        </a>
                    </div>
                </div>

                <div class="dropdow">
                    <div class="dropdow_select">
                        <a href="#">
                                <span class="material-symbols-outlined">
                                    settings
                                </span>
                            <span class="dropdow_selected">
                                    System management
                                </span>
                        </a>
                    </div>
                    <ul class="dropdow_list">
                        <li class="dropdow_item">
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    work
                                    </span>
                                <span class="dropdow_selected">
                                    Queue
                                </span>
                            </a>
                        </li>
                        <li class="dropdow_item">
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    router
                                </span>
                                <span class="dropdow_selected">
                                    Router
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
</body>
</html>