
/* Begin login */

.form_login{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: max-content;
}
.title_login{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}
.title_head{
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}
.form_login_inner{
    width: 40%;
    display: flex;
    background-color: #fff;
    padding: 50px 0;
    border:1px solid #dcdcdc;
    border-radius: 10px;
}
.form_main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 40px;
}
.form_main button{
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    padding: 8px 0;
    background-color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    border-radius: 8px;
    cursor: pointer;
    color: #f0f0f0;
}
.title_login{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.link_register{
    display: flex;
    flex-direction: row;
}
.link_register a{
    margin-left: 5px;
}
.navbar_login{
    background-color: #000000;
    display: flex;
    width: 100%;
    position: fixed;
}
.input_login{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}
.input_register{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
}
.input_register_item{
    display: flex;
    width: 45%;
    flex-direction: column;
}
.input_register_item input{
    font-size: 18px;
    padding: 8px;
}
.input_register_item select{
    font-size: 16px;
    padding: 8px;
}
.input_register_item label {
    padding-bottom: 10px;
}
.input_login label{
    padding-bottom: 10px;
}
.input_login input{
    font-size: 18px;
    padding: 8px;
}
input::placeholder {
    opacity: 0.5;
    font-size: 18px;
}
.navbar_login_inner{
    width: 5%;
    margin-left: 30px;
    padding: 10px 0;
}
.navbar_login_inner img {
    width: 100%;
    height: auto;
}

/* start header */
*{
    box-sizing: border-box;
    font-family: var(--fontprimary);
    margin: 0 0;
}
:root{
    --primary:#171717;
    --sercondary:#212832;
    --fontprimary: 'Roboto', sans-serif;
    --fontsercondary: 'Inter', sans-serif;
    --colorhover:#002E94;
}
.menu{
    display: flex;
    width: 10%;
    overflow-y: auto;
    min-height: 100vh;
}
.menu-inner{
    background-color: var(--primary);
    width: 100%;
}
.dropdow{
    width: 100%;
    position: relative;
    border-bottom: solid 1px var(--sercondary);
    border-top:  solid 1px var(--sercondary);
    -webkit-transition: 600ms;
            transition: 600ms;
}
.content_body{
    display: flex;
}
.dropdow_select {
    font-family: var(--fontprimary);
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}
.dropdow_select a{
    font-family: var(--fontprimary);
    width: 100%;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}
.dropdow_text{
    font-family: var(--fontprimary);
    width: 100%;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}
.active{
    background-color: var(--sercondary);
}
.dropdow_list{
    border-radius: 4px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    padding-inline-start:0px;
    padding-left: 10px;
}
.dropdow:hover .dropdow_list{
    display: block;
    position: relative;
}
.dropdow_select :hover{
    font-weight: bold;
    color: var(--colorhover);
}
li{
    list-style: none;
}
.dropdow_item{
    font-family: var(--fontprimary);
    padding: 10px;
    background-color: var(--primary);
    color: white;
    /* text-transform: uppercase; */
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
.dropdow_item a{
  text-decoration: none;
  color: white;
}
.dropdow_item a:hover{
  font-weight: bold;
  color: var(--colorhover);
}
.dropdow_item:first-child{
    position: relative;
    border-radius: 4px 4px 0 0;
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    width: 10%;
    justify-content: center;
    /* background-color: #737373; */
    background-color: var(--primary);
}
.navbar1{
    background-color: #e6e6e6;
    width: 100%;
}
.navbar_main{
    padding: 0 20px;
    height: auto;
    width: 85%;
}

.navbar_main_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_left{
    display: flex;
}
.left_item{
    padding: 0 10px;
}
.left_item .material-symbols-outlined{
    cursor: pointer;
}
.left_input{
    margin-bottom: 0;
    height: 100%;
    border: 0;
    background-color: #e6e6e6;
}
.left_input:focus {
    outline: none;
  }
.material-symbols-outlined:hover{
    color: var(--colorhover);
}
.navbar_inner{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: solid 1px var(--sercondary);
    /* position: fixed; */
}
.material-symbols-outlined {
  font-size: 14px;

}
.right_user .material-symbols-outlined{
    font-size: 50px;
    font-weight: 500;
}
.navbar_right{
    display: flex;
    align-items: center;
    justify-content: end;
}
.right_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-size: var(--fontprimary);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.right_item .material-symbols-outlined{
    font-size: 30px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
}
.user_name{
    margin-left: 20px;
}
.logo img{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5px 0;
}
.dropdow_item:first-child:hover::before{
    border-bottom-color: var(--sercondary);
    position: relative;
}
.dropdow_item:last-child{
    border-radius: 0 0 4px 4px;
}
.dropdow_item:hover{
    font-weight: bold;
    background-color: var(--sercondary);
    position: relative;
    color: var(--colorhover);

}
.notifications {
    text-decoration: none;
    padding-right: 15px;
    position: relative;
    border-radius: 2px;
  }
.notifications .badge {
    position: absolute;
    top: 10%;
    right: 25%;
    padding: 0px 5px;
    border-radius: 50%;
    color: wheat;
    font-size: 10px;
    background-color: #E0144C;
  }
.bg_body{
    background-color: #e6e6e6;
    width: 90% ;
}
.body_inner{
    width: 100%;
    display: flex;
    padding: 25px 25px;
    justify-content: space-between;
    align-items: center;
}
.body_item{
    width: 23%;
    display: flex;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius:10px;
    background-color: var(--primary);
}
.body_item_inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_inner{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8D9CF;
}
.avatar_img{
    width: 7%;
}
.profile_action{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;
}
.profile_action :hover{
    color: #002E94;
}
.avatar-text{
    margin-left: 20px;
    cursor: pointer;
    font-size: 13px;
}
.avatar-inner{
    width: 100%;
}
.avatar-inner img{
    width: 100%;
    border-radius: 50%;
}
.icon .material-symbols-outlined{
    font-size: 60px;
    font-weight: bold;
}
.dropdow_item a {
    font-family: var(--fontprimary);
    width: 100%;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}
.text{
    font-size: 15px;
    font-weight: bold;
    flex-flow: column;
    align-items: flex-start;
    font-family: var(--fontsercondary);
}
.text_title{
    display: inline;
}
/* end */
/* css router */
.table_router_left select option {
    display: block;
    padding: 10px;
    font-size: 16px;
}
.table_router_right select option {
    display: block;
    padding: 10px;
    font-size: 16px;
}
/* CSS cho Select option */
.table_router_left select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
  }
  .table_router_right select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
  }
  /* CSS cho input text */
.table_router_left input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin: 30px 0;
  }
  .table_router_right input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin: 30px 0;
  }
  .add{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .add input{
    width: 90%;
    height: 40px;
    font-size: 14px;
  }
  .add button{
    padding: 10px 10px;
  }
  .table_router_left{
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .table_router_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
  }
  .table_router_right form{
    width: 100%;
  }
  .table_router{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .router{
    width: 100%;
  }
  .router_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .button_sub_router{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .router_title{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .button_sub_router button{
    margin: 10px 0;
  }
  /* end css router*/

  .alert-primary{
      font-size: 16px;
      width: 100%;
      color: #379237;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #BAD1C2;
      margin-bottom: 20px;
  }
  .alert-danger{
      font-size: 16px;
      width: 100%;
      color: #CC3636;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #BAD1C2;
      margin-bottom: 20px;
  }
  /*end css */
  /* Error Page */
  .error-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .error-container h1 {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
    font-size: 120px;
    color: #b3b3b3;
    margin: 0;
  }

  .error-container p {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
    font-size: 30px;
    color: #b3b3b3;
    margin: 0;
  }

  .error-container a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .error-container a:hover {
    font-family: 'Montserrat', sans-serif;
    background-color: #555;
  }
    .form-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .input_captcha input{
            height: 40px;
    }
    .input_captcha {
           display:flex;
        }
/* end css */

 /* role css */
  .my-table {
    border-collapse: collapse;
    width: 100%;
  }

  .my-table th,
  .my-table td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  .my-table th {
    background-color: #dddddd;
  }

  .my-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .add-role button{
    font-size: 14px;
    margin-bottom: 30px;
    padding: 10px 20px;
  }

  /* end */

/* create role */
.create-role {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.table_role{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.create-role label {
  font-weight: bold;
}

.create-role input[type="text"],
.create-role textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.create-role input[type="text"]:focus,
.create-role textarea:focus {
  outline: none;
  border-color: #007bff;
}

.create-role button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.create-role button[type="submit"]:hover {
  background-color: #0069d9;
}
.create-role-dv{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.title-create-role{
  padding: 20px 0;
}
/* Pagination links */
.pagination{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 14px;
  }

  /* router role */
  .router_role_info_item{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
  }
  .router_role_title{
    width: 20%;
  }
  .router_role_des{
    width: 80%;
  }
  /* css user */
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }
  tr a{
    text-decoration: none;
  }
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .form__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .form__label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }

  .form__input, .form__select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
    font-size: 16px;
    color: #333;
    width: 250px;
  }

  .form__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23333' d='M4 6.5L0 2h8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 12px);
    background-position-y: center;
    background-size: 8px 8px;
  }
  .form__select1 {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #e6e6e6;
      font-size: 18px;
      color: #333;
      width: 300px;
    }
  .form__select1{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23333' d='M4 6.5L0 2h8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 12px);
    background-position-y: center;
    background-size: 8px 8px;
  }
  .form__select1 select {
    background: transparent;
    -webkit-appearance: none;
    width: 100px;
    font-size: 11px;
    border: 0;
    height: 17px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .form__select1 option{
  font-family: 'FontAwesome', 'sans-serif';
  }

  .form__button {
    padding: 10px 20px;
    margin-left: 10px;
  }
  select {
    font-family: 'FontAwesome', 'sans-serif';
  }



